.logo-cafemercad {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .logo-cafemercad {
        width: 135px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 374px) {
    .logo-cafemercad {
        width: 100px;
    }
}

