/* Begin common menu category detail */

.menu-detail li:last-child {
    border-bottom: none;
}

.menu-detail li:last-child .block-item-title {
    font-size: 16px;
}

.block-container .btn-custom.btn-paging,
.block-container .btn-custom.back-to-list {
    margin-top: 40px;
}

.block-container .btn-custom.btn-paging.btn-paging {
    font-size: 18px;
    color: #472c00;
    padding: 15px 0;
}

.block-container .btn-custom.btn-paging.btn-paging-previous {
    text-align: left;
}

.block-container .btn-custom.btn-paging.btn-paging-next {
    text-align: right;
}

.block-container .btn-custom.btn-paging i {
    line-height: 24px;
}

.block-container .btn-custom.btn-paging.btn-paging-previous i {
    margin-right: 15px;
}

.block-container .btn-custom.btn-paging.btn-paging-next i {
    margin: 0 0 0 15px;
}

.menu-image-detail img {
    width: 100%;
}

@media (min-width : 768px) {
    .menu-image-detail {
        width: 54%;
        padding-right: 0;
    }

    .menu-content-detail {
        width: 40%;
        margin-left: 6%;
        padding-left: 0;
    }
}

@media only screen and (max-width : 767px) {

    .menu-detail {
        margin-top: 30px;
    }

    .menu-detail .block-item {
        padding-left: 0;
        padding-right: 0;
    }

    .menu-detail .block-item .block-item-title {
        margin-right: 0;
    }

    .menu-detail li:last-child .block-item-title {
        font-size: 14px;
    }

    .menu-category-detail-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .block-container .btn-custom.btn-paging.btn-paging {
        font-size: 14px;
    }

    .block-container .btn-custom.btn-paging i {
        line-height: 20px;
    }

    .block-container .btn-custom.btn-paging.btn-paging-previous i {
        margin-right: 10px;
    }

    .block-container .btn-custom.btn-paging.btn-paging-next i {
        margin: 0 0 0 10px;
    }

    .block-container .btn-custom.btn-paging, .block-container .btn-custom.back-to-list {
        margin-top: 35px;
    }
}

/* End common menu category detail */