@font-face {
    font-family: "Yu Gothic";
    src: url("../fonts/YuGothic-Medium.ttf");
}

body {
    font-family: "Yu Gothic";
}

header {
    width: 100%;
    max-width: 1300px;
    height: 125px;
    margin: 0 auto;
    padding: 25px 50px;
    background-color: #fff;
    box-sizing: border-box;
}

.navbar-brand {
    height: auto;
    padding: 5px 0;
}

#bs-navbar {
    margin-top: 15px;
}

.small-gutter > [class*='col-'] {
    padding-right: 8px;
    padding-left: 8px;
}

.navbar-nav li>a {
    color: #666666;
    font-size: 18px;
    font-family: "Yu Gothic";
    background-color: transparent !important;
    padding: 10px 30px;
}

.navbar-nav li a:hover, .navbar-nav li a:active, .navbar-nav li a:visited  {
    background-color: transparent !important;
}

.navbar-nav li.share-button {
    margin-top: 6px;
    font-family: "Yu Gothic";
}

.navbar-nav li.login-button {
    margin-top: -23px;
    margin-left: 10px;
    font-family: "Yu Gothic";
}

.btn-menu {
    background-color: #fff;
    border: 1px solid #009844;
    width: 135px;
    text-align: center;
    padding: 3px;
}

.btn-menu a {
    color: #009844;
    text-decoration: none;
    font-size: 12px !important;
    text-transform: uppercase;
    width: 100%;
    display: block;
}

.btn-menu:hover {
    background-color: #009844;

}

.btn-menu:hover a {
    color: #fff !important;
}

.btn-social {
    margin-top: 5px;
    text-align: center;
    display: none;
}

.btn-social a {
    color: #009844 !important;
    margin-top: 10px;
    font-size: 18px;
    margin: 0 5px;
}

.btn-language {
    text-align: center;
    margin-bottom: 9px;
}

.btn-language a {
    font-size: 10px;
    color: #999999;
}

.btn-language a.active {
    color: #666666;
    border-bottom: 2px solid #b3b3b3;
}
.btn-language a:hover {
    text-decoration: none;
}

.icon-cup {
    display: inline-block;
    margin-top: -3px;
}

/* Begin footer */
footer {
    background-color: #472c00;
    padding: 50px;
    color: #fff;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 25px;
}

footer ul li a {
    color: #fff;
    font-size: 16px;
}

footer a {
    color: #fff !important;
    text-decoration: none !important;
}

footer .copyright {
    margin-top: 75px;
}

footer .text-cp {
    font-size: 10px;
    margin-top: 15px;
}

footer .back-to-top {
    text-align: center;
}

footer .back-to-top a {
    color: #fff;
    font-size: 18px;
}

footer .back-to-top img {
    margin-bottom: 20px;
}
/* End footer */


/* Begin homepage */
.carousel {
    margin-bottom: 45px;
}

.carousel .carousel-indicators {
    bottom: -60px;
}

.carousel-indicators li {
    border: 1px solid #666666;
    width: 15px;
    height: 15px;
    margin-right: 25px;
}

.carousel-indicators .active {
    background-color: #666666;
    width: 15px;
    height: 15px;
    margin-right: 25px;
}

.carousel-caption {
    top: 20%;
}

.carousel-caption h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 50px;
}

.carousel-caption p.text-large {
    margin: 40px 0;
}

.carousel-caption p.text-large .large {
    font-size: 40px;
}

.carousel-caption p.text-large span {
    font-size: 18px;
    vertical-align: middle;
}

.carousel img {
    width: 1920px !important;
    height: 777px !important;
    overflow-x: hidden;
    max-width: none !important;
}

.carousel-caption p {
    font-size: 23px;
}

.recruit-block {
    text-align: center;
    border: 1px solid #666666;
    padding: 0;
}

.recruit-text {
    padding: 40px;
}

.recruit-image img {
    width: 100%;
}

.recruit-block h3 {
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #009844;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    display: table-cell;
    vertical-align: middle;
}

.recruit-block p {
    font-size: 24px;
    color: #666666;
    margin-top: 30px;
}

#business-container, #brand-container, #business-2-container, #contact-container  {
    margin: 100px auto;
}

.business-block img.img-responsive {
    width: 1920px !important;
    height: 500px !important;
    overflow-x: hidden;
}

.business-block h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.business-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.business-btn {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px 177px;
    text-align: center;
    margin-top: 40px;
}

.business-btn.btn-small {
    padding: 10px 195px;
}

.business-btn a {
    font-size: 26px;
    color: #000 !important;
    text-decoration: none !important;
}

.business-btn p {
    margin-bottom: 0;
}

.business-block {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.image-arrow {
    margin-top: 40px;
}

.brand-block .col-md-4 {
    border: 1px solid #666666;
    padding: 35px;
    text-align: center;
}

.contact-block .col-md-3, .contact-block .col-md-6 {
    text-align: center;
}

.contact-block .contact-content {
    border: 1px solid #666666;
    padding: 35px;

}

.contact-block .contact-content .fa-lg {
    font-size: 45px;
    color: #999999;
    margin: 0 10px;
}

.contact-block .contact-content .fa-custom {
    font-size: 90px;
    color: #999999;
}

.contact-text {
    font-size: 24px;
    height: 60px;
    margin-top: 20px;
    color: #666666;
}

.contact-text.text-1-line {
    padding-top: 15px;
}

.register-member {
    width: 130px;
    display: inline-block;
    padding: 20px;
    background: #4cb77c;
    position: fixed;
    right: 0;
    top: 180px;
    display: none;
}

.register-member img {
    margin: 0 0 10px 0;
}

.register-member a {
    color: #ffffff;
    text-decoration: none;
}

/* End homepage */

/* Begin page 39 */
.block-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 100px 0 10px 0;
}

.block-note {
    font-family: "Yu Gothic";
    font-size: 24px;
    margin: 0 0 48px 0;
}

.block-list {
    list-style: none;
    padding: 0;
    margin: 0 0 60px 0;
}

.block-list .block-item {
    border-top: 2px solid #cccccc;
    padding: 30px 0px;
}

.block-list li:last-child {
    border-bottom: 2px solid #cccccc;
}

.block-list .block-item .block-item-title {
    font-family: "Yu Gothic";
    font-size: 20px;
    display: inline;
}

.block-list .block-item .block-item-title a {
    color: #333333;
}

.block-item .label-item-info {
    font-family: "Yu Gothic";
    font-size: 16px;
    color: #ffffff;
    min-width: 177px;
    display: inline-block;
    padding: 5px 5px;
}

.block-item .label-item-time {
    font-family: "Yu Gothic";
    font-size: 16px;
    padding: 0 20px;
}

.block-item .label-item-time,
.block-list .block-item .block-item-title,
.block-item .arrow-item-detail {
    line-height: 32px;
}

.block-view-all .btn-view-all .arrow-item-detail img,
.block-item .arrow-item-detail img {
    width: 10px;
}

.block-view-all .btn-view-all {
    font-family: "Yu Gothic";
    font-size: 22px;
    color: #009844;
    padding: 10px 20px 10px 55px;
    display: inline-block;
    text-decoration: none;
    background: #ffffff !important;
    border: 1px solid #009844;
}

.block-view-all .btn-view-all .arrow-item-white {
    display: none;
}

.block-green .block-view-all .btn-view-all:hover {
    color: #ffffff !important;
    background: #009844 !important;
}

.block-green .block-view-all .btn-view-all:hover .arrow-item-white {
    display: block;
}

.block-green .block-view-all .btn-view-all:hover .arrow-item-green {
    display: none;
}

.block-view-all .btn-view-all .arrow-item-detail {
    margin: 0 0 0 40px;
}

.block-green .block-title {
    color: #009844;
}

.block-green .label-item-info,
.block-green .block-view-all .btn-view-all {
    background: #009844;
}

@media only screen and (max-width : 767px) {
    .block-container {
        padding: 0;
    }

    .block-list {
        margin: 0 0 30px 0;
    }

    .block-list .block-item {
        padding: 20px 35px 10px 35px;
        border-top: 1px solid #cccccc;
        position: relative;
    }

    .block-list .block-item .link-arrow {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .block-list li:last-child {
        border-bottom: 1px solid #cccccc;
    }

    .block-list .block-item .block-item-title {
        display: inline-block;
        margin: 5px 35px 0 0;
    }

    .block-title {
        font-size: 24px;
        letter-spacing: 2px;
        margin-top: 55px;
    }

    .block-list .block-item .block-item-title,
    .block-note {
        font-size: 16px;
    }

    .block-item .label-item-time,
    .block-item .label-item-info {
        font-size: 14px;
    }

    .block-item .label-item-info {
        min-width: 150px;
    }

    .block-item .label-item-time {
        padding: 0 10px;
    }

    .block-note {
        margin: 0 0 25px 0;
    }

    .block-view-all .btn-view-all {
        font-size: 20px;
    }

    .block-view-all .btn-view-all {
        padding: 7px 15px 7px 30px;
    }

    .block-view-all .btn-view-all .arrow-item-detail img {
        width: 7px;
    }
}

/* End page 39 */

@media screen and (max-width: 1200px) {
    header {
        padding: 25px 20px;
    }

    .navbar-nav li>a {
        padding: 10px 15px;
        font-size: 15px;
    }

    .btn-menu {
        width: 110px;
    }

    .btn-menu a {
        font-size: 10px !important;
    }

    .btn-social a {
        font-size: 16px;
    }

    .btn-language a {
        font-size: 9px;
    }

    .business-btn {
        padding: 20px 50px;
    }

    .business-btn.btn-small {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 992px) {
    .navbar-nav li>a {
        padding: 10px 10px;
        font-size: 12px;
    }

    .btn-menu {
        width: 100px;
    }

    .btn-menu a {
        font-size: 9px !important;
    }

    .btn-social a {
        font-size: 14px;
    }

    .btn-language a {
        font-size: 8px;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 0;
    }

    #bs-navbar {
        margin-top: 0;
    }

    .navbar-header {
        padding: 25px 50px;
        border-bottom: 1px solid #d1d1d1;
        height: 125px;
    }

    .navbar-toggle {
        margin-right: 0;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .fa-align-justify {
        display: none;
    }

    .fa-times {
        display: block;
    }

    .collapsed .fa-align-justify {
        display: block;
    }

    .collapsed .fa-times {
        display: none;
    }

    .navbar-toggle .fa {
        font-size: 32px;
        color: #666666;
    }

    .navbar-nav li {
        border-bottom: 1px solid #d1d1d1;
        padding: 20px;
    }

    .navbar-nav li.last-item {
        border-bottom: none;
    }

    .navbar-nav li a {
        font-size: 24px;
    }

    .btn-menu {
        padding: 15px;
        margin: 0 auto;
        width: 80%;
    }

    .btn-menu a {
        font-size: 24px !important;
    }

    .menu-xs {
        margin-top: 25px;
    }

    .menu-xs .pull-right {
        margin-right: 30px;
    }

    .menu-xs .btn-share {
        font-weight: bold;
    }
    .menu-xs .btn-cup {
        text-align: center;
        margin-top: -10px;
    }

    footer {
        text-align: center;
    }

    footer .back-to-top {
        float: none !important;
        margin-bottom: 150px;
    }

    .carousel-caption {
        top: 10%;
    }

    .recruit-block {
        margin-bottom: 20px;
    }

    .recruit-text, .recruit-image {
        width: 49%;
        display: inline-block;
        vertical-align: middle;
    }

    .recruit-image {
        width: 50%;
    }

    .recruit-block h3 {
        font-size: 24px;
        display: block;
    }

    .carousel-indicators li {
        margin-right: 10px;
    }

    .carousel-indicators .active {
        margin-right: 10px;
    }

    #recruit-container, #business-container, #brand-container, #business-2-container, #contact-container {
        margin: 50px auto;
    }

    #recruit-container {
        padding: 30px;
    }

    #business-container img.img-responsive {
        width: 1000px !important;
        height: 400px !important;
        max-width: none !important;
    }

    .business-btn {
        padding: 20px 50px;
    }

    .business-btn.btn-small {
        padding: 10px 20px;
    }
}

@media (max-width: 767px) {
    /*-- Change max-width from 768 to 767 --*/
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        background-color: #fff;
    }

    /*-- Disable this, suggest remove - this cause the menu disappear as soon as it toogle in --*/
    .navbar-nav {
        float: none !important;
        margin: 0px -15px;
        position: relative; /*-- New attribute --*/
        z-index: 9999; /*-- New attribute --*/
        background-color: #fff; /*-- New attribute --*/
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .register-member {
        display: none !important;
    }
}

@media only screen and (max-width : 480px) {
    .navbar-header {
        padding: 25px 20px;
    }

    .navbar-nav li a {
        font-size: 20px;
    }

    .btn-menu a {
        font-size: 20px !important;
    }

    .menu-xs .pull-right {
        margin-right: 20px;
    }

    .carousel-caption h1 {
        font-size: 20px;
    }

    .carousel-caption p.text-large .large {
        font-size: 24px;
    }
    .carousel-caption p {
        font-size: 16px;
    }

    .recruit-text {
        width: 48%;
    }

    .recruit-image {
        width: 50%;
    }

    .recruit-block h3 {
        height: 50px;
        font-size: 18px;
        vertical-align: middle;
    }

    .recruit-block p {
        margin-top: 10px;
        font-size: 14px;
    }

    .recruit-text {
        padding: 10px;
    }
    #recruit-container {
        padding: 10px;
    }

}
